$white: #FFFFFF;
$darkblue: #84DCC6;
$lightblue: #A5FFD6;
$lightpink: #FFA69E;
$darkpink: #FF686B;
$black:#000000;
$grey:#615e5e;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	height: 100vh;
	display: grid;
	grid-template-columns: 80%;
	justify-content: center;
	align-items: center;
	position: relative;
	background:linear-gradient(
        rgba($white, 0.4),
		rgba($white, 0.7));
}

@media screen and (max-width:768px){
	.header{
	    background:linear-gradient(
        rgba($white, 0.4),
		rgba($white, 0.7)),
		url('../img/dogimage1.jpg')center/cover fixed no-repeat;
    }
    

}

body{
    font-family: 'Kosugi Maru', sans-serif;
}

.banner{
    text-align: center;
    z-index: 3;

    &__title{
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 4rem;
        text-transform: capitalize;
        color: $lightpink;
        animation-name: moveInLeft;
        animation-duration: 2s;
    }

    &__subtitle{
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-size: 2rem;
        text-transform: capitalize;
        color: $lightpink;
        animation-name: moveInRight;
        animation-duration: 2s;
    }

    &__icons{
        width: 50%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(4,2rem);
        grid-column-gap: 0.5rem;
        justify-content: center;
    }

    &__social-icon{
        display: block;
        text-decoration: none;
        color: $lightpink;
        border:0.1rem solid $lightpink;
        border-radius: 50%;
        padding: 0.25rem;
        transition: all 0.5s linear;
        animation-name: moveInLeft;
        animation-duration: 2s;
    }

    &__social-icon:hover{
        background: $lightpink;
        color: $black;
        border:0.1rem solid $lightpink;
    }

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &r__logo{
        height: 5rem;
        animation-name: moveInRight;
        animation-duration: 2s;
    }
}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.video{
    &__container{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__item{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.about{
    padding: 2rem 0;

    &__center{
        max-width: 90vw;
        margin: 2rem auto;
    }

    &__img{
        margin: 3rem 0;
        position: relative;
    }

    &__img-photo{
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__img:before{
        content: "";
        background: $grey;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -10px;
        left: -10px;
    }

    &__info{
        margin: 3rem auto;
    }

    &__info-title{
        font-size: 2rem;
        letter-spacing: 0.5rem;
        margin: 2rem 1rem;

    }

    &__info-text{
        line-height: 1.5;
        font-size: 1rem;
        margin: 2rem 1rem;
    }

    &__info-first-link{
        display: inline-block;
        text-decoration: none;
        padding: 0.5rem 1rem;
        letter-spacing: 0.2rem;
        border: 3px solid $lightpink;
        transition: all 1s linear;
        margin-right: 1rem;
        margin: 2rem 1rem;

    }

    &__info-first-link{
        color: $black;
    }

    &__info-first-link:hover{
        background: $lightpink;
    }
}

@media screen and (min-width:769px){
    .about__center{
        display: flex;
        justify-content: space-between;
    }
    .about__info,.about__img{
        flex: 0 0 calc(50% - 1rem);
    }
    .about__info{
        display: flex;
        align-items: flex-end;
    }
}

.feature{
    margin: 1rem;

    &__box{
        height: 100vh;
        background-size: cover;
        background-position: top;
        position: relative;
        padding: 10rem 0;
        background-image: linear-gradient(
            to right bottom,
            rgba($white,0.7),
            rgba($lightpink,0.9)),
            url(../img/dogimage3.jpg);
    }
}

.feature{
    &__title{
        text-align: center;
        margin-top: -4rem;
    }

    &__title-name{
        font-size: 2rem;
        letter-spacing: 0.5rem;
        font-weight: 700;
        font-style: italic;
    }

    &__center{
        max-width: 90vw;
        margin: 0.5rem auto;
    }

    &__service{
        margin: 1rem auto;
        text-align: center;
        transition: all 0.5s ease-in;
        padding: 2rem 0;
    }

    &__service:hover{
        box-shadow: 0 15px 20px rgba($black, 0.8);
    }

    &__service-icon{
        font-size: 3rem;
    }

    &__service-title{
        font-weight: 700;
        margin-top: 1rem;
        margin-bottom: 1rem;
        letter-spacing: 0.2rem;
    }

    &__service-text{
        width: 80%;
        margin: 0 auto;
        text-align: left;
        line-height: 1.5;
        letter-spacing: 0.2rem;
    }
}

@media screen and (min-width:768px){

    .feature__box{
        height: 100vh;
        background-size: cover;
        background-position: top;
        background-repeat: repeat;
        position: relative;
        padding: 10rem 0;
        background-image: linear-gradient(
            to right bottom,
            rgba($white,0.7),
            rgba($lightpink,0.9)),
            url(../img/dogimage3.jpg);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
        }


    .feature__center{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .feature__service{
        flex: 0 0 calc(50% - 0.5rem);
    }
}

@media screen and (min-width: 992px){
    .feature__service{
        flex: 0 0 calc(33.3333% - 0.5rem);
    }
}

.accordion{
    padding: 1rem;

    &__title{
        text-align: center;
        font-size: 2rem;
        letter-spacing: 0.5rem;
        margin: 1rem;
    }

    &__section{
        background-color: $lightpink;
        color: $black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: 1px solid $white;
        transition: 0.4s;
        font: 20px Lato, sans-serif;
        outline: none;
    }

    &__section-panel{
        padding: 0 18px;
        background-color: $white;
        display: none;
        overflow: hidden
        ;
    }
}

P{
    font: 16px Lato, sans-serif;
}

.active, .accordion__section:hover{
    background-color: $darkpink;

}

.accordion__section:after{
    content: '\02795';
    font-size: 15px;
    float: right;
    margin-left: 5px;
}

.active:after{
    content: '\2796';
}


.tabtable{
    width: 100%;
    padding: 20px;
}

.tab-title{
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    margin: 1rem;
}

div.tabs{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: $lightpink;
}

div.tabs .tablink{
    background-color: inherit;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
}

div.tabs .tablink:hover{
    background-color: #ddd;
}

div.tabs .tablink.active{
    background-color: #ccc;
}

.tabcontent{
    background: #fff;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 1.5rem;

}